<h1 class="cabezera">Mis Proyectos</h1>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['Home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['punto1']">Punto 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['punto2']">Punto 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['registro']">Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['resumen']">Resumen</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>