<div class="row">
    <div class="col-md-12 contendio">
        <h1 class="titulo">Trabajo Practico N°4</h1>
        <div class="puntos">
            <h3>Punto 1</h3>
            <p>Cree un Componente “punto1” y realice un Slide Personalizado con angular, el cual tendrá Noticias
                personalizadas a su elección, cada noticia puede estar acompañado por una fotografía descriptiva de la
                noticia. Como fuente de datos, defina en el Controlador, un array de objetos que será utilizado en la vista
                HTML. Para recorrer las noticias se dispondrá un botón para adelantar y otro para retrasar. A modo de
                ejemplo se muestra una captura de un posible slide.
            </p>
        </div>
        <div class="puntos">
            <h3>Punto 2</h3>
            <p>Cree un componente “punto2” e implemente el Juego del ahorcado. Consideraciones:</p>
             <li>
                Se dispone de un banco de 10 palabras (array), en una corrida del programa se elige una.palabra. Para
                simplificar el proceso las palabras son de una categoría especial a elección (Ej. Animales, Jugadores
                Argentino, Actores Argentinos, etc) que será indicada en alguna parte la pantalla del Juego al usuario.                
             </li>
             <br>

             <p>Por cada corrida:</p>  
             
                <p>1_ Los intentos permitidos en cada corrida son a elección (ej. 5). En caso de que en un intento
                el usuario no adivine a los intentos permitidos se le va restando 1 (uno). El usuario pierde
                cuando sus intentos llegan a 0(cero). Debe mostrar en un modal que el usuario ha perdido.
                </p>
                <p>2_ En caso de acertar no se le restaran intentos a los disponibles por el usuario y la letra
                acertada debería ser guardada para poder comparar luego la palabra que se está formando
                con la que se debe adivinar.
            </p>
            <li>
                Para cada intento se debe elegir una imagen predefinida (a elección) que mostrara el estado del juego
                (personita) o en la corrida actual.
            </li>
            
        </div>
        
    </div>
    
</div>
